html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.draggable{
  cursor: pointer;
}

.sample-entity{
  border-radius: 10px;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  background: #333;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sample-entity[data-plu-focused="true"]{
  -moz-box-shadow: 2px 2px 4px #3311bb, -2px -2px 4px #9966bb;
  -webkit-box-shadow: 2px 2px 4px #3311bb, -2px -2px 4px #9966bb;
  box-shadow: 2px 2px 4px #3311bb, -2px -2px 4px #9966bb;
}

.dom-component{
  position: absolute;
}

.area{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}